<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Get the restaurant of your choice">
  <meta name="theme-color" content="#0e4b42"/>
  <link rel="icon" href="favicon.png">
  <link rel="manifest" href="manifest.json">
  <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
  <title>Restaurant Apps Starter Project</title>
</head>
<body>
    <a href="#maincontent"  class="skip-link" tabindex="0">Skip To Content</a>
<header>
  <nav  class="nav">
    <div class="logo">
      <h1>RestoranKu</h1>
    </div>
      <ul id="drawer" class="nav_list">
        <li class="nav_item"><a tabindex="0"href="#/">Home</a></li>
        <li class="nav_item"><a tabindex="0"href="#/favorite">Favorite</a></li>
        <li class="nav_item"><a tabindex="0"href="https://github.com/KhairulAhyar22">AboutUs</a></li>
      </ul>
      <button id="menu" class="header__menu" tabindex="0" aria-label="Tombol Menu Navigasi">☰</a>
  </nav>
</header>

<main tabindex="0" id="maincontent"></main>

<footer>
    <h1>Copyright &copy; 2022 - Hungger Apps</h1>
</footer>

</body>
</html>
